<main>
  <app-banner></app-banner>
  <app-about></app-about>
  <app-jobs></app-jobs>
  <div class="coming-soon-container">
    <section class="section contact" id="contact">
      <div class="container">
        <div class="section-box">
          <div class="mb-4" data-aos="fade-up" data-aos-duration="1000">
            <h3 class="contact-pre-title big-subtitle">03. Projects</h3>
            <h4 class="e-font contact-title big-title">Coming Soon...!</h4>
          </div>
          <p data-aos="fade-up" data-aos-duration="1000">
            I’m currently working on showcasing my most recent experiences and
            projects that highlight my skills and expertise. Stay tuned for
            exciting updates that will soon demonstrate the impact and
            innovation I bring to every project I take on. More to come soon! In
            Sha ALLAH❤️
          </p>
        </div>
      </div>
    </section>
  </div>
  <!-- <app-projects></app-projects> -->
  <app-contact></app-contact>
</main>
